.nav-item .active {
  color: #17a2b8 !important;
  font-weight: 500;
}
.nav-item:hover {
  font-weight: 500;
}
#home {
  background-color: #17a2b81a;
}
#footer {
  background: url("./Components/Images/footer.webp") no-repeat;
  background-size: cover;
}

.emailInput::placeholder {
  color: white;
}

.cardhover {
  z-index: 0;
  border: none;
}

.cardhover::before {
  content: "";
  position: absolute;
  background: #fdeff2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
  color: white;
}
.cardhover:hover {
  color: white;
}
.cardhover:hover::before {
  background: #17a2b8;
  top: 0;
}
#homeMargin {
  margin-top: 128px;
}
@media (max-width: 769px) {
  #homeMargin {
    margin-top: 174px;
  }
}
